window {
margin: 0px;
border: 0px solid #928374;
background-color: #002b36;
}

#input {
margin: 5px;
border: none;
color: #839496;
background-color: #073642;
}

#inner-box {
margin: 5px;
border: none;
background-color: #002b36;
}

#outer-box {
margin: 5px;
border: none;
background-color: #002b36;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #839496;
font-family: monospace;
}

#entry:selected {
background-color: #073642;
}


